@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #000000; /* Taupe */
  --background-color: #F5F5F5; /* Light Gray */
}

body {
  color: var(--foreground-color);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end-color)
    )
    var(--background-start-color);
}


/* styles.css */
.text-loading-spinner {
  display: inline-block;
  font-size: 18px;
  color: #262626; /* Your desired color */
}

.text-loading-spinner::after {
  content: '';
  display: inline-block;
  animation: loading-dots 1.5s infinite;
}

@keyframes loading-dots {
  0% {
    content: '';
  }
  25% {
    content: '.';
  }
  50% {
    content: '..';
  }
  75% {
    content: '...';
  }
}

.user-tag-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.relative:hover .user-tag-overlay {
  opacity: 1;
}

